@-webkit-keyframes imageAnimationIn {
    0% {
        opacity: 0;
        -webkit-transform: scale( 1 );
        -webkit-animation-timing-function: ease-in;
    }
    4% {
        opacity: 1;
        -webkit-transform: scale( 1.012 );
        -webkit-animation-timing-function: ease-out;
    }
    8% {
        opacity: 1;
        -webkit-transform: scale( 1.025 );
    }
    100% {
        opacity: 1;
        -webkit-transform: scale( 1.025 );
    }
}
@-webkit-keyframes imageAnimationOut {
    0% {
        opacity: 1;
        -webkit-transform: scale( 1.025 );
        -webkit-animation-timing-function: ease-in;
    }
    4% {
        opacity: 0.5;
        -webkit-transform: scale( 1.012 );
        -webkit-animation-timing-function: ease-out;
    }
    8% {
        opacity: 0;
        -webkit-transform: scale( 1 );
    }
    100% {
        opacity: 0;
    }
}

@keyframes imageAnimationIn {
    0% {
        opacity: 0;
        transform: scale( 1 );
        animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        transform: scale( 1.025 );
        animation-timing-function: ease-out;
    }
    17% {
        opacity: 1;
        transform: scale( 1.05 );
    }
    100% {
        opacity: 1;
        transform: scale( 1.05 );
    }
}
@keyframes imageAnimationOut {
    0% {
        opacity: 1;
        transform: scale( 1.05 );
        animation-timing-function: ease-in;
    }
    8% {
        opacity: 0.5;
        transform: scale( 1.025 );
        animation-timing-function: ease-out;
    }
    17% {
        opacity: 0;
        transform: scale( 1 );
    }
    100% {
        opacity: 0;
    }
}

body {
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    overflow: hidden;
    color: #FFF;
    background: rgb(23,30,37);
    margin: 0;
}

.slideshow {
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}
    .slideshow__item {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        list-style: none;
        margin: 0;
    }

    .slideshow__image {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: none;
        opacity: 0;
        z-index: 0;
    }

        .slideshow__item.hide {
            z-index: 0;
        }
        .slideshow__item.hide .slideshow__image {
            -webkit-animation: imageAnimationOut 30s linear 1;
            animation: imageAnimationOut 30s linear 1;
        }
        .slideshow__item.show {
            z-index: 1;
        }
        .slideshow__item.show .slideshow__image {
            -webkit-animation: imageAnimationIn 30s linear 1;
            animation: imageAnimationIn 30s linear 1;
            opacity: 1;
            transform: scale( 1.025 );
        }

    .slideshow__title {
        margin: 0;
        z-index: 1;
        position: absolute;
        bottom: 50px;
        left: 25px;
        opacity: 0;
        transition: opacity 2s ease-out, left 1.5s cubic-bezier( 0.175, 0.885, 0.320, 1.275 );
        color: rgb( 255, 255, 255 );
        font-weight: normal;
        font-size: 24px;
    }
        .slideshow__subtitle {
            font-size: 16px;
            display: block;
        }
        .slideshow__item.show .slideshow__title {
            opacity: 1;
            left: 75px;
        }

.logo {
    position: absolute;
    right: 75px;
    bottom: 50px;
    margin: 0;
    opacity: .8;
}
